body {
    text-align: center;
    background-image: url("https://www.projectsmart.co.uk/img/risk.png");
    /* background-repeat: no-repeat;
    background-size: 100% 100% ; */

  }
  
  .container {
    margin-top: 100px;
  }
  .container2 {
    margin-top: 0px;
  }
  .container3 {
    margin-top: 0px;
  }
  
  h2{
    
    float: right;
    
  }
  h3{
    
    float: left;
    font-size:  20pt;
  
    
  }
  
  .square {
    width: 100px;
    height: 100px;
    border: solid black;
    margin: 10;
    display: inline-block;
    
  }

  #player1{
    
    float: right;
    margin-top: 50px;
    border: solid black;
    padding: 9px;
    
  }
  #player2{
    float: left;
    margin-top: 50px;
    border:  solid black;
    padding: 9px;
    margin-left: 0px; 
  }
  button {
    font-size: 10pt;
    background-color: aqua
  }
 
  
  